*{
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
  font-family: cursive;
  color:SeaGreen;
  margin-top: 15px;
}

.letter {
  display: inline-block;
  font-size: 100px;
  margin-right: 10px;
}

.word-to-guess {
  text-align: center;
}

.keybord {
  display: inline-block;
  height: 25px;
  width: 25px;
  border: 2px solid SeaGreen;
  margin: 10px;
  text-align: center;
  padding-top: 5px;
}

.panel {
  border: 3px solid SeaGreen;
  display:inline-block;
  position: fixed;
  top: 2px;
  left: 2px;
  padding: 3px 5px;
}
